
{{#if message}}
  <div class="nav">
    <h2>{{message}}</h2>
    <div class="bottonsNav">
      <form method="get" action="/api/messages">
        <button type="submit">Chat</button>
      </form>
      <form method="get" action="/api/login/logout">
      <button type="submit">Logout</button>
      </form>
      <form method="get" action="/api/dbCarts/{{cartId}}">
      <button type="submit">Mi carrito <span class="numProducts">{{cartQuantity}}</span></button>
      </form>
    </div>
  </div>
{{/if}}

<h1>Productos</h1>
<div class="cntainer">
  <a href="{{prevLink}}">⬅️</a>
  <ul class="productsContain">
    {{#each products}}
      <li>
        <h2>{{name}}</h2>
        <img src="{{img}}">
        <p>{{description}}</p>
        <p>Precio: {{price}}</p>
        <p>Categoria: {{category}}</p>
        {{#if ../cartId}}
        <form id="addToCartForm" method="POST" action="/api/dbCarts/{{../cartId}}/{{this._id}}">
          <input type="hidden" name="product_id" value="{{_id}}">
          <button id="addToCartButton" type="submit">add to 🛒</button>
        </form>
        {{/if}}
      </li>
    {{/each}}
  </ul>
  <a href="{{nextLink}}">➡️</a>
</div>


<script>
  // Añadir un evento de escucha para el envío del formulario
  const addToCartForms = document.querySelectorAll('.addToCartForm');
  addToCartForms.forEach(form => {
    form.addEventListener('submit', async event => {
      event.preventDefault();

      const formElement = event.target;
      const formData = new FormData(formElement);

      try {
        const response = await fetch(formElement.action, {
          method: 'POST',
          body: formData
        });

        if (response.ok) {
          console.log('Producto agregado al carrito con éxito.');
          location.reload(); // Recargar la página
        } else {
          console.error('Error al agregar el producto al carrito.');
        }
      } catch (error) {
        console.error('Error de red:', error);
      }
    });
  });
</script>